body, p, div {
  padding: 0;
  margin: 0;
  font-family: Bebas Neue;
  font-size: 36px;
  font-weight: 400;
}

.container {
  max-width: 320px;
  margin: 0 auto;
}

.header {
  height: 60px;
  background-color: #F8F8F8;
  color: red;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 260px;
}
.header__title {
  font-size: 36px;
  line-height: 43.2px;
  letter-spacing: 0.06em;
  color: #333333;
}
.header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  cursor: pointer;
}

.hero__img {
  padding: 0;
  margin: 0;
  height: 100%;
}
.hero__text {
  padding: 25px 30px;
  font-size: 36px;
  line-height: 43.2px;
  letter-spacing: 0.155em;
  text-shadow: -0.68px 0 #03839E, 0 0.68px #03839E, 0.68px 0 #03839E, 0 -0.68px #03839E;
  color: white;
}
.hero__text--span {
  font-size: 36px;
  line-height: 43.2px;
  letter-spacing: 0.155em;
  color: #03839E;
  text-shadow: none;
}
.hero__price {
  position: relative;
  padding: 0 30px;
}
.hero__price--number {
  font-family: Manrope;
  font-size: 26px;
  font-weight: 700;
  line-height: 35.52px;
  color: #333333;
}
.hero__price--text {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 139px;
  margin-bottom: 20px;
}
.hero__price--button {
  text-transform: uppercase;
  width: 260px;
  height: 48px;
  gap: 0px;
  border: 1px solid #FFE339;
  opacity: 0px;
  background-color: #FFE339;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  cursor: pointer;
}
.hero__price--img {
  margin-left: 24px;
}
.hero__additional--text {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #03839E;
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
  position: absolute;
  right: -126px;
  bottom: 170px;
}
.hero__additional--img {
  position: absolute;
  right: 7px;
  bottom: 0;
}

.content {
  margin-bottom: 110px;
  padding: 0 30px;
}
.content__block {
  margin-bottom: 70px;
}
.content__title {
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.155em;
  color: #333333;
}
.content__number {
  font-size: 36px;
  line-height: 64.8px;
  letter-spacing: 0.155em;
}
.content__topic {
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.155em;
  margin-bottom: 20px;
}
.content__text {
  font-family: Manrope;
  font-size: 16px;
  line-height: 24px;
  color: #4F4F4F;
}

.features {
  padding: 0 30px;
}